platforms/osx/build
platforms/emscripten/build
.DS_Store

*.pbxuser
*.perspectivev3
project.xcworkspace
xcuserdata
*.pbxuser

platforms/android/local.properties

platforms/android/build/
platforms/android/gen/
platforms/android/libs/
platforms/android/obj/
